@media screen and (max-width : 478px) {
    .start{
        width: 90%;
        height: 500px;
        background-color: deeppink;
        margin-left: 17px;
        margin-top: 80px;
        border-radius: 15px;
    }
    button{
        height: 70px;
        width: 70px;
        font-size: 45px;
        margin: 20px 20px 0px 50px;
        /* background-color: v; */
        border: 2px solid deeppink;
        border-radius: 10px;
    }
}

